<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851241896346-1hoqlm41nrbob8ft5sgr6un39hkn7q27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851241896346-1hoqlm41nrbob8ft5sgr6un39hkn7q27</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>851241896346-phld7ptm4g70l36ujtvcttpb4igb345t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCs2kLYA2VLx8gSpMQcYx7COP0KAmBpyzc</string>
	<key>GCM_SENDER_ID</key>
	<string>851241896346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.monorepo</string>
	<key>PROJECT_ID</key>
	<string>monorepo-dbfcd</string>
	<key>STORAGE_BUCKET</key>
	<string>monorepo-dbfcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851241896346:ios:6d77e2946df10516755223</string>
	<key>DATABASE_URL</key>
	<string>https://monorepo-dbfcd.firebaseio.com</string>
</dict>
</plist>